@page "/employees"

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/employee/create">Create Employee</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">BirtDate</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in EmployeesList)
                {
                <tr>
                    <td class="align-middle">
                        @employee.Name
                    </td>
                    <td class="align-middle">
                        @employee.Department
                    </td>
                    <td class="align-middle">
                        @employee.BirtDate
                    </td>
                    <td class="align-middle">
                        @employee.Address
                    </td>
                    <td class="align-middle">
                        @employee.City
                    </td>
                    <td class="align-middle">
                        @employee.Zip
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info" @onclick="@(() => UpdateEmployee(employee.Id))">Update</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger" @onclick="@(async () => await DeleteEmployee(employee.Id))">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>