@page "/employee/update/{employeeId:int}"


<h3>Update Skill</h3>

<hr />

<EditForm Model="@employee" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">First Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="employee.FirstName" />
        </div>
        <ValidationMessage For="@(() => employee.FirstName)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Last Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="employee.LastName" />
        </div>
        <ValidationMessage For="@(() => employee.LastName)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Department</label>
        <div class="col-md-4">
            <InputSelect @bind-Value="employee.DepartmentId" class="form-control">
                @if (DepartmentsList != null)
                {
                    @foreach (var dptm in DepartmentsList)
                    {
                        <option value="@dptm.Id">@dptm.Name</option>
                    }
                }
            </InputSelect>
        </div>
        <ValidationMessage For="@(() => employee.BirtDate)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">BirtDate</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="employee.BirtDate" />
        </div>
        <ValidationMessage For="@(() => employee.BirtDate)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Address</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="employee.Address" />
        </div>
        <ValidationMessage For="@(() => employee.Address)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">City</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="employee.City" />
        </div>
        <ValidationMessage For="@(() => employee.City)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Zip</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="employee.Zip" />
        </div>
        <ValidationMessage For="@(() => employee.Zip)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

